* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

@font-face {
    font-family: pixel;
    src:url(ARCADECLASSIC.TTF);
}

body {
    background-color: #122c34;
    font-size: 2rem;
    font-family: pixel;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100px;
    background-color: #2a4494;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-left-style: none;
    border-right-style: none;
}

.title {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 7rem;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 870px) {
    .title {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 740px) {
    .title {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 610px) {
    .title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 470px) {
    header {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;
    }
}

.entrySection {
    background-color: #224870;
    width: 80%;
    margin: 0 auto;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-top-style: none;
    border-bottom-style: none;
}

.entryContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a4494;
    border: 5px dashed #4ea5d9;
    border-radius: 5px;
    max-width: 70%;
    margin: 10px auto;
    align-items: center;
    align-content: space-between;
}

.entryContainer:first-child {
    border-color: #efb524;
    box-shadow: 0 4px 4px 0 #efb524, 0 3px 10px 0 #efb524;
}

.entryContainer div {
    margin: 10px;
}

.entryContainer .rating {
    margin-left: auto;
}

.flag img {
    max-width: 200px;
}