* {
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

@font-face {
    font-family: pixel;
    src:url(ARCADECLASSIC.TTF);
}

body {
    background-color: #122c34;
    font-family: pixel;
    color: #ffffff;
}

a{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100px;
    background-color: #2a4494;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-left-style: none;
    border-right-style: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.title {
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 7rem;
}

.infoDiv {
    background-color: #2a4494;
    width: 80%;
    font-size: 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-top-style: none;
    padding: 2px;
}

.infoDivMain {
    background-color: #2a4494;
    width: 80%;
    font-size: 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-top-style: none;
    padding: 2px;
}


.mainPageLinks {
    margin: 10px;
}

.infoDiv p {
    margin: 10px;
    width: 100%;
    word-spacing: 5px;
}

.formContainer {
    background-color: #2a4494;
    width: 80%;
    font-size: 2.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-top-style: none;
    padding: 2px;
}

.entrySection {
    background-color: #224870;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    border-style: dashed;
    border-color: #FFFFFFFF;
    border-width: 5px;
    border-top-style: none;
    padding: 2px;
}

.entryContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #2a4494;
    border: 5px dashed #4ea5d9;
    border-radius: 5px;
    max-width: 70%;
    margin: 10px auto;
    align-items: center;
    align-content: space-between;
}

.entryContainer:first-child {
    border-color: #efb524;
    box-shadow: 0 4px 4px 0 #efb524, 0 3px 10px 0 #efb524;
}

.entryContainer:nth-child(2) {
    border-color: #C0C0C0;
    box-shadow: 0 4px 4px 0 #C0C0C0, 0 3px 10px 0 #C0C0C0;
}

.entryContainer:nth-child(3) {
    border-color: #CD7F32;
    box-shadow: 0 4px 4px 0 #CD7F32, 0 3px 10px 0 #CD7F32;
}

.entryContainer div {
    margin: 10px;
}

.entryContainer .rating {
    margin-left: auto;
}

.flag img {
    max-width: 200px;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 870px) {
    .title {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 740px) {
    .title {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 610px) {
    .title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 470px) {
    header a {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }
    .title {
        margin: 5px;
    }
    .entrySection {
        font-size: 1.5rem;
    }
    .player {
        min-width: 50px;
    }
    .infoDiv p {
        font-size: 1.5rem;
    }
    .countryFormContainer {
        font-size: 1.5rem;
    }
}